<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta charset="utf-8">
    <title>串口数据显示</title>
    <!-- 引入 ECharts 文件 -->
    <link rel="stylesheet" type="text/css" href="{% static 'webChart/bootstrap.min.css' %}" /> 
    <script type="text/javascript" src="{% static 'webChart/jquery-2.2.4.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'webChart/bootstrap.min.js' %}"></script>
    <script src="{% static 'webChart/echarts.min.js' %}"></script>
    <style type="text/css">
    div.top {
        position: absolute;
        left: 30px;
        top: 10px;
        height: 60px;
        padding-left: 30px;
        padding-top: 10px;
    }
    div.chart {
        position: absolute;
        left: 10px;
        right: 10px;
        bottom: 5px;
        top: 10px;
        width: 98%;
    }
    html, body{
        height: 100%;
        width: 100%;
    }
    .myModalData {
        height: 100%;
        width: 100%;
    }
    div.process {
        position: absolute;
        right: 10px;
        top: 10px;
    }
    </style>
    <script type="text/javascript">
    function getDataOption(chart, dataList){
        var dataNum = parseInt(window.location.hash.substring(1, 2)) - 1;
        var data = [];
        var legend = [];
        var min = null;
        var max = null;
        for (var i = 0; i < dataList.length; i++){
            var chanelList = [];
            var step = 1;
            if (dataList[i].data.length > 100) {
                step = Math.ceil(dataList[i].data.length / 100);
            }
            for (var j = 0; j < dataList[i].data.length; j += step){
                var chanel = -1;
                for (var k = 0; k < chanelList.length; k++){
                    if (chanelList[k].chanel == dataList[i].data[j].chanel){
                        chanel = k;
                        break;
                    }
                }
                if (chanel == -1){
                    chanel = chanelList.length;
                    chanelList.push({chanel: dataList[i].data[j].chanel, data:[]});
                }
                if (dataList[i].data[j].data[dataNum].value[1] != null)
                    chanelList[chanel].data.push(dataList[i].data[j].data[dataNum]);
                
                if (chart.getOption().legend.length > 0){
                    var legendList = chart.getOption().legend[0];
                    for (var k = 0; k < legendList.data.length; k++){
                        if (legendList.selected[legendList.data[k]] != false && legendList.data[k] == "串口:" + dataList[i].name + " 通道:" + chanelList[chanel].chanel){
                            var value = parseFloat(dataList[i].data[j].data[dataNum].value[1])
                            if (!isNaN(value)){
                                if (min == null || min > value)
                                    min = value
                                if (max == null || max < value)
                                    max = value
                            }
                        }
                    }
                }
            }
            for (var j = 0; j < chanelList.length; j++){
                if (chanelList[j].data.length == 0)
                    continue;
                var name = "串口:" + dataList[i].name + ' 通道:' + chanelList[j].chanel;
                var markpoint = [];
                var last = chanelList[j].data;
                last = last[last.length - 1].value;
                markpoint.push({
                    name: '固定 x 像素位置',
                    yAxis: last[1],
                    xAxis: last[0],
                    value: last[1]
                });
                data.push({
                    data: chanelList[j].data,
                    name: name,
                    type: 'line',
                    showSymbol: false,
                    markPoint: {
                        label:{
                            show: true
                        },
                        symbol: 'pin',
                        data: markpoint
                    }
                });
                legend.push(name);
            }
        }
        return {data:data, legend:legend, min: min, max: max};
    }

    function updateChart(dataList){
        var option = getDataOption(chart, dataList);
        var max = Math.ceil(option.max + (option.max - option.min) * 0.2);
        var min = Math.floor(option.min - (option.max - option.min) * 0.1);
        chart.setOption({
            series: option.data,
            legend: {
                data: option.legend
            },
            yAxis : {
                min: min,
                max: max
            }
        });
    }

    function applyFilter(portName, checked){
        var legend = {};
        var legendList = chart.getOption().legend[0].data;
        for (var j = 0; j < legendList.length; j++){
            var selected = false;
            var legendName = legendList[j];
            if (legendName.startsWith("串口:" + portName))
                selected = true;
            if (checked)
                legend[legendName] = selected;
            else
                legend[legendName] = true;
        }
        var option = {
            legend: {
                selected: legend,
            },
        }
        chart.setOption(option);
    }

    function drawChart(){
        // 基于准备好的dom，初始化echarts实例
        var myChart = echarts.init(document.getElementById('main'));
        var dataNum = parseInt(window.location.hash.substring(1, 2)) - 1;
        var title = ['T', 'V1', 'V2', 'V3']

        // 指定图表的配置项和数据
        option = {
            title: {
                text: title[dataNum]
            },
            tooltip: {
                trigger: 'axis',
                axisPointer: {
                    type: 'cross'
                }
            },
            xAxis: {
                type: 'time',
                splitLine: {
                    show: false
                },
            },
            yAxis: {
                type: 'value',
                boundaryGap: [0, '30%'],
            },
            dataZoom: [
                {
                    show: true,
                    realtime: true,
                    start: 0,
                    end: 100
                },
            ],
            toolbox: {
                feature: {
                    dataZoom: {
                        yAxisIndex: 'none'
                    },
                    restore: {},
                    saveAsImage: {}
                }
            },
        };

        // 使用刚指定的配置项和数据显示图表。
        myChart.setOption(option);
        window.onresize = myChart.resize;
        return myChart;
    }

    var chart;
    $(document).ready(function(){
        chart = drawChart();
        var param = window.location.hash.substr(3);
        param = decodeURIComponent(param);
        param = param.substring("data=".length);
        if (param.length > 0){
            var dataList = JSON.parse(param);
            updateChart(dataList);
            updateChart(dataList);
        }
    });
    </script>
</head>
<body>
    <!-- 为 ECharts 准备一个具备大小（宽高）的 DOM -->
    <div class="chart" id="main"></div>
    <!-- Modal -->
</body>
</html>