<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta charset="utf-8">
    <title>串口数据显示</title>
    <!-- 引入 ECharts 文件 -->
    <link rel="stylesheet" type="text/css" href="{% static 'webChart/bootstrap.min.css' %}" /> 
    <link rel="stylesheet" type="text/css" href="{% static 'webChart/webSerial.css' %}" /> 
    <script type="text/javascript" src="{% static 'webChart/jquery-2.2.4.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'webChart/bootstrap.min.js' %}"></script>
    <script src="{% static 'webChart/echarts.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'webChart/webSerial.js' %}"></script>
    <style type="text/css">
    div.data1 {
        position: absolute;
        height: 47%;
        width: 50%;
    }
    div.data2 {
        position: absolute;
        height: 47%;
        width: 50%;
        left: 50%;
    }
    div.data3 {
        position: absolute;
        height: 47%;
        width: 50%;
        top: 52%;
        left: 0;
    }
    div.data4 {
        position: absolute;
        height: 47%;
        width: 50%;
        left: 50%;
        top: 52%;
    }
    </style>
    <script type="text/javascript">
    function setChartTitle(onFrameLoad){
        document.getElementById("data1").onload = function() {
            var legends = ['T1', 'T2', 'T3', 'T4', 'T5', 'T6',
                        'RH1', 'RH2', 'RH3', 'RH4', 'RH5', 'RH6'];
            this.contentWindow.initChart("T RH", legends);
            onFrameLoad();
        };
        document.getElementById("data2").onload = function() {
            var legends = ['V11', 'V21', 'V12', 'V22', 'V13', 'V23'];
            this.contentWindow.initChart("V", legends);
            onFrameLoad();
        }
        document.getElementById("data3").onload = function() {
            var legends = ['V1', 'V2'];
            this.contentWindow.initChart("V", legends);
            onFrameLoad();
        }
        document.getElementById("data4").onload = function() {
            var legends = ["V11'", "V21'", "V12'", "V22'", "V13'", "V23'"];
            this.contentWindow.initChart("V'", legends);
            onFrameLoad();
        }
    }

    $(document).ready(function(){
        var dataList = [];
        var comList = [
            {% for item in list %} {% for port, open in item.items %}
                {name:'{{port}}', value:'{{open}}'},
            {% endfor %} {% endfor %} 
        ];
        var VALUE_NAME = {
            T1: 0, T2: 1, T3: 2, T4: 3, T5: 4, T6: 5, RH1: 6, RH2: 7, RH3: 8, RH4: 9,
            RH5: 10, RH6: 11, V11: 12, V12: 13, V13: 14, V21: 15, V22: 16, V23: 17,
            V1: 18, V2: 19, V11p: 20, V12p: 21, V13p: 22, V21p: 23, V22p: 24, V23p: 25
        };
        for (var i = 0; i < comList.length; i++){
            dataList.push({name: comList[i].name, opened: comList[i].value == "True", 
                data:[
                    {name: 'T1', data:[]}, {name: 'T2', data:[]}, {name: 'T3', data:[]},
                    {name: 'T4', data:[]}, {name: 'T5', data:[]}, {name: 'T6', data:[]},
                    {name: 'RH1', data:[]}, {name: 'RH2', data:[]}, {name: 'RH3', data:[]},
                    {name: 'RH4', data:[]}, {name: 'RH5', data:[]}, {name: 'RH6', data:[]},
                    {name: 'V11', data:[]}, {name: 'V12', data:[]}, {name: 'V13', data:[]},
                    {name: 'V21', data:[]}, {name: 'V22', data:[]}, {name: 'V23', data:[]},
                    {name: 'V1', data:[]}, {name: 'V2', data:[]},
                    {name: "V11'", data:[]}, {name: "V12'", data:[]}, {name: "V13'", data:[]},
                    {name: "V21'", data:[]}, {name: "V22'", data:[]}, {name: "V23'", data:[]},
                ]
            });
        }

        function onGetData(msg, portIndex) {
            /*数据格式：1_1 V11 V12 V13 V1[time]
                       2_1 V21 V22 V23 V2[time]
                       1_2 T1 RH1 T2 RH2 T3 RH3[time]
                       2_2 T4 RH4 T5 RH5 T6 RH6[time]
            */
            var patt = /^([0-9_]+)\s+([0-9-.,]+)\[([0-9- :.]+)\]/; 
            var result = patt.exec(msg);
            if (result == null)
                return null;
            var date = new Date(result[3]);
            var chanel = result[1];
            var valueList = result[2].split(',');
            var valueName = [];
            if (chanel == '1_1'){
                dataList[portIndex].data[VALUE_NAME.V11].data.push({name: date.toString(), value: [date, parseFloat(valueList[0])]});
                dataList[portIndex].data[VALUE_NAME.V12].data.push({name: date.toString(), value: [date, parseFloat(valueList[1])]});
                dataList[portIndex].data[VALUE_NAME.V13].data.push({name: date.toString(), value: [date, parseFloat(valueList[2])]});
                dataList[portIndex].data[VALUE_NAME.V1].data.push({name: date.toString(), value: [date, parseFloat(valueList[3])]});
                valueName = [VALUE_NAME.V11, VALUE_NAME.V12, VALUE_NAME.V13, VALUE_NAME.V1];
            } else if (chanel == '2_1'){
                dataList[portIndex].data[VALUE_NAME.V21].data.push({name: date.toString(), value: [date, parseFloat(valueList[0])]});
                dataList[portIndex].data[VALUE_NAME.V22].data.push({name: date.toString(), value: [date, parseFloat(valueList[1])]});
                dataList[portIndex].data[VALUE_NAME.V23].data.push({name: date.toString(), value: [date, parseFloat(valueList[2])]});
                dataList[portIndex].data[VALUE_NAME.V2].data.push({name: date.toString(), value: [date, parseFloat(valueList[3])]});
                valueName = [VALUE_NAME.V21, VALUE_NAME.V22, VALUE_NAME.V23, VALUE_NAME.V2];
            } else if (chanel == '1_2'){
                dataList[portIndex].data[VALUE_NAME.T1].data.push({name: date.toString(), value: [date, parseFloat(valueList[0])]});
                dataList[portIndex].data[VALUE_NAME.RH1].data.push({name: date.toString(), value: [date, parseFloat(valueList[1])]});
                dataList[portIndex].data[VALUE_NAME.T2].data.push({name: date.toString(), value: [date, parseFloat(valueList[2])]});
                dataList[portIndex].data[VALUE_NAME.RH2].data.push({name: date.toString(), value: [date, parseFloat(valueList[3])]});
                dataList[portIndex].data[VALUE_NAME.T3].data.push({name: date.toString(), value: [date, parseFloat(valueList[4])]});
                dataList[portIndex].data[VALUE_NAME.RH3].data.push({name: date.toString(), value: [date, parseFloat(valueList[5])]});
                valueName = [VALUE_NAME.T1, VALUE_NAME.RH1, VALUE_NAME.T2, VALUE_NAME.RH2, VALUE_NAME.T3, VALUE_NAME.RH3];
            } else if (chanel == '2_2'){
                dataList[portIndex].data[VALUE_NAME.T4].data.push({name: date.toString(), value: [date, parseFloat(valueList[0])]});
                dataList[portIndex].data[VALUE_NAME.RH4].data.push({name: date.toString(), value: [date, parseFloat(valueList[1])]});
                dataList[portIndex].data[VALUE_NAME.T5].data.push({name: date.toString(), value: [date, parseFloat(valueList[2])]});
                dataList[portIndex].data[VALUE_NAME.RH5].data.push({name: date.toString(), value: [date, parseFloat(valueList[3])]});
                dataList[portIndex].data[VALUE_NAME.T6].data.push({name: date.toString(), value: [date, parseFloat(valueList[4])]});
                dataList[portIndex].data[VALUE_NAME.RH6].data.push({name: date.toString(), value: [date, parseFloat(valueList[5])]});
                valueName = [VALUE_NAME.T4, VALUE_NAME.RH4, VALUE_NAME.T5, VALUE_NAME.RH5, VALUE_NAME.T6, VALUE_NAME.RH6];
            }
            if ($('#myModal').hasClass('in')){
                var portName = dataList[portIndex].name;
                var result = "";
                for (var i = 0; i < valueList.length; i++){
                        result += portName + " " + valueName[i] + ":" + valueList[i]
                                + "[" + date.getFullYear() + '-' + (date.getMonth() + 1) + '-' + date.getDate() + " " 
                                + date.getHours() + ":" + date.getMinutes() + ":" + date.getSeconds() + "]" + "\r\n";
                }
                $("#myModalData")[0].innerHTML += result;
            }
        }

        function updateChart(){
            /* 第一视图(左上)：T1~T6, RH1~RH6
                第二视图(右上)：V11~V13, V21~V23
                第三视图(左下)：V1, V2
                第四视图(右下)：V11'~V13', V21'~V23'
            */
            if (dataList.length == 0)
                return;
            var data1List = [];
            var data2List = [];
            var data4List = [];
            var data3List = [];
            for (var i = 0; i < dataList.length; i++){
                if (dataList[i].opened == false)
                    continue;
                var data = [];
                data.push({name:'T1', data:dataList[i].data[VALUE_NAME.T1]});
                data.push({name:'T2', data:dataList[i].data[VALUE_NAME.T2]});
                data.push({name:'T3', data:dataList[i].data[VALUE_NAME.T3]});
                data.push({name:'T4', data:dataList[i].data[VALUE_NAME.T4]});
                data.push({name:'T5', data:dataList[i].data[VALUE_NAME.T5]});
                data.push({name:'T6', data:dataList[i].data[VALUE_NAME.T6]});
                data.push({name:'RH1', data:dataList[i].data[VALUE_NAME.RH1]});
                data.push({name:'RH2', data:dataList[i].data[VALUE_NAME.RH2]});
                data.push({name:'RH3', data:dataList[i].data[VALUE_NAME.RH3]});
                data.push({name:'RH4', data:dataList[i].data[VALUE_NAME.RH4]});
                data.push({name:'RH5', data:dataList[i].data[VALUE_NAME.RH5]});
                data.push({name:'RH6', data:dataList[i].data[VALUE_NAME.RH6]});
                data1List.push({name:dataList[i].name, data:data});
                var data = [];
                data.push({name:'V11', data:dataList[i].data[VALUE_NAME.V11]});
                data.push({name:'V12', data:dataList[i].data[VALUE_NAME.V12]});
                data.push({name:'V13', data:dataList[i].data[VALUE_NAME.V13]});
                data.push({name:'V21', data:dataList[i].data[VALUE_NAME.V21]});
                data.push({name:'V22', data:dataList[i].data[VALUE_NAME.V22]});
                data.push({name:'V23', data:dataList[i].data[VALUE_NAME.V23]});
                data2List.push({name:dataList[i].name, data:data});
                data = [];
                data.push({name:'V1', data:dataList[i].data[VALUE_NAME.V1]});
                data.push({name:'V2', data:dataList[i].data[VALUE_NAME.V2]});
                data3List.push({name:dataList[i].name, data:data});
                data = [];
                data.push({name:"V11'", data:dataList[i].data[VALUE_NAME.V11p]});
                data.push({name:"V12'", data:dataList[i].data[VALUE_NAME.V12p]});
                data.push({name:"V13'", data:dataList[i].data[VALUE_NAME.V13p]});
                data.push({name:"V21'", data:dataList[i].data[VALUE_NAME.V21p]});
                data.push({name:"V22'", data:dataList[i].data[VALUE_NAME.V22p]});
                data.push({name:"V23'", data:dataList[i].data[VALUE_NAME.V23p]});
                data4List.push({name:dataList[i].name, data:data});
            }
            document.getElementById("data1").contentWindow.updateChart(data1List);
            document.getElementById("data2").contentWindow.updateChart(data2List);
            document.getElementById("data3").contentWindow.updateChart(data3List);
            document.getElementById("data4").contentWindow.updateChart(data4List);
        }

        var serialData = new SerialData(updateChart, onGetData, dataList);

        $("button.data-process").click(function(){
            /*
            $("#myModalLabel")[0].innerHTML = "数据处理";
            $("#processButton").show();
            $("#div-checkbox").show();
            $("#myModal").modal();
            */
           
        });
        setChartTitle(function(){
            serialData.getSerialData();
        });

        function downloadFormat(portName){
            var result = "";
            for (var i = 0; i < dataList.length; i++){
                if (dataList[i].name != portName)
                    continue;
                for (var j = 0; j < dataList[i].data.length; j++){
                    var valueName = dataList[i].data[j].name;
                    var data = dataList[i].data[j];
                    if (data.data.length == 0)
                        continue;
                    for (var k = 0; k < data.data.length; k++){
                        var date = data.data[k].value[0];
                        result += portName + " " + valueName + ":" + data.data[k].value[1]
                                + "[" + date.getFullYear() + '-' + (date.getMonth() + 1) + '-' + date.getDate() + " " 
                                + date.getHours() + ":" + date.getMinutes() + ":" + date.getSeconds() + "]" + "\r\n";
                    }
                }
            }
            return result;
        }
        checkPortList(serialData, downloadFormat);

        $("#checkbox-filter").on('change', function(){
            applyFilter($("iframe[id^='data']"));
        });
        $("#filter-select").on("change", function(){
            applyFilter($("iframe[id^='data']"));
        });
        $("button.btn-look-data").click(function(){
            /*
            var number = $(this)[0].parentNode.className.substring(4);
            var title = ['T', 'V1', 'V2', 'V3'];
            var data = JSON.stringify(dataList);
            window.open("http://" + window.location.host + "/chart#" + number + "?data=" + data, title[parseInt(number)]);
            */
        });
        $("#clear-chart").click(function(){
            for (var i = 0; i < dataList.length; i++){
                for (var j = 0; j < dataList[i].data.length; j++){
                    dataList[i].data[j].data = [];
                }
            }
            document.getElementById("data1").contentWindow.redrawChart();
            document.getElementById("data2").contentWindow.redrawChart();
            document.getElementById("data3").contentWindow.redrawChart();
            document.getElementById("data4").contentWindow.redrawChart();
            $("#myModalData")[0].innerHTML = "";
        });
    });
    </script>
</head>
<body>
    <div class="top" class="row">
        <div class="col-md-4 port-button">
            {% for item in list %} {% for port, open in item.items %}
            <button class="com btn btn-success" value="{{port}}">打开{{port}}</button>
            {% endfor %} {% endfor %}
        </div>
        <div class="col-md-6 form-inline">
            <button class="btn btn-default" id="clear-chart">清空数据</button>
            <div class="form-group">
                <!--
                <label for="checkbox-filter"> 过滤 </label>
                <input type="checkbox" value="" id="checkbox-filter">
                -->
                <select id="filter-select" class="form-control">
                {% for item in list %} {% for port, open in item.items %}
                    <option>{{port}}</option>
                {% endfor %} {% endfor %}
                </select>
                <button class="download btn btn-primary">下载数据</button>
            </div>
            <div class="form-group">
                <label for="baudrate">波特率</label>
                <input type="input" value="9600" id="baudrate" class="form-control">
            </div>
        </div>
        <div class="process" class="col-md-2">
                <button class="data-process btn btn-primary">数据处理</button>
                <a href="/" class="data-process btn btn-success">返回首页</a>
        </div>
    </div>
    <!-- 为 ECharts 准备一个具备大小（宽高）的 DOM -->
    <div class="data1">
        <iframe src="/chart#1" id="data1"></iframe>
        <button class="btn btn-success btn-look-data">查看大图</button>
    </div>
    <div class="data2">
        <iframe src="/chart#2" id="data2"></iframe>
        <button class="btn btn-success btn-look-data">查看大图</button>
    </div>
    <div class="data3">
        <iframe src="/chart#3" id="data3"></iframe>
        <button class="btn btn-success btn-look-data">查看大图</button>
    </div>
    <div class="data4">
        <iframe src="/chart#4" id="data4"></iframe>
        <button class="btn btn-success btn-look-data">查看大图</button>
    </div>
    <mymodal></mymodal>
    <script type="text/javascript">
        $("mymodal").load("{% static 'webChart/modal.html' %}");
    </script>
</body>
</html>