<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta charset="utf-8">
    <title>串口数据显示</title>
    <!-- 引入 ECharts 文件 -->
    <link rel="stylesheet" type="text/css" href="{% static 'webChart/bootstrap.min.css' %}" /> 
    <script type="text/javascript" src="{% static 'webChart/jquery-2.2.4.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'webChart/bootstrap.min.js' %}"></script>
    <script src="{% static 'webChart/echarts.min.js' %}"></script>
    <style type="text/css">
    div.top {
        position: absolute;
        left: 30px;
        top: 10px;
        height: 60px;
        padding-left: 30px;
        padding-top: 10px;
    }
    div.chart {
        position: absolute;
        left: 10px;
        right: 10px;
        bottom: 30px;
        top: 60px;
        width: 90%;
    }
    html, body, iframe{
        height: 100%;
        width: 100%;
    }
    .myModalData {
        height: 100%;
        width: 100%;
    }
    div.process {
        position: absolute;
        right: 10px;
        top: 10px;
    }
    div.data1 {
        position: absolute;
        height: 50%;
        width: 50%;
    }
    div.data2 {
        position: absolute;
        height: 50%;
        width: 50%;
        left: 50%;
        top: 0;
    }
    div.data3 {
        position: absolute;
        height: 50%;
        width: 50%;
        top: 50%;
        left: 0;
    }
    div.data4 {
        position: absolute;
        height: 50%;
        width: 50%;
        left: 50%;
        top: 50%;
    }
    button.btn-look-data {
        position: absolute;
        bottom: 0px;
        right: 0px;
    }
    </style>
    <script type="text/javascript">
    function getData(dataList, msg) {
        var param_table = {
            K1: [1, 1, 1, 1, 1, 1],
            T1: [1, 1, 1, 1, 1, 1],
            T2: [1, 1, 1, 1, 1, 1],
            K22: [1, 1, 1, 1, 1, 1],
            B2: [1, 1, 1, 1, 1, 1]
        }
        var patt = /^([0-9_]+)\s+([0-9-.]+),([0-9-.]+),([0-9-.]+),([0-9-.]+)\[([0-9- :]+)\]/; 
        var result = patt.exec(msg);
        var date = new Date(result[6]);
        var chanel = result[1];
        var data4 = 0;
        var T = parseFloat(result[2]);
        var V1 = parseFloat(result[3]);
        var V2 = parseFloat(result[4]);
        var d = result[5];
        var K1 = param_table.K1[d];
        var T1 = param_table.T1[d];
        var T2 = param_table.T2[d];
        var K22 = param_table.K22[d];
        var B2 = param_table.B2[d];
        if (dataList.length > 0){
            for (var i = dataList.length - 1; i >= 0; i--){
                if (dataList[i].chanel == chanel){
                    var last_V2 = parseFloat(dataList[i].data[2].value[1]);
                    if (V1 <= 0)
                        data4 = V1 + (V2 - last_V2) * V1 / V2 * -1 * K1 + (T2 - T1) * (K22 * V1 + B2)
                    else
                        data4 = V1 + (V2 - last_V2) * V1 / V2 * K1 + (T2 - T1) * (K22 * V1 + B2)
                }
            }
        }
        return {chanel:chanel, data:[
            {name: date.toString(), value: [date, T]},
            {name: date.toString(), value: [date, V1]},
            {name: date.toString(), value: [date, V2]},
            {name: date.toString(), value: [date, data4]}
        ]}
    }

    function getDataDown(button, dataList){
        var name = button.value;
        $("#myModalLabel")[0].innerHTML = "串口" + name + "数据";
        for (var i = 0; i < dataList.length; i++){
            if (dataList[i].name == name){
                var result = "";
                for (var j = 0; j < dataList[i].data.length; j++){
                    var chanel = dataList[i].data[j].chanel;
                    var date = dataList[i].data[j].data[0].value[0];
                    result += chanel + "  " + dataList[i].data[j].data[0].value[1] + "  " + dataList[i].data[j].data[1].value[1] + "  " + dataList[i].data[j].data[2].value[1] + "  " + dataList[i].data[j].data[3].value[1]
                        + "[" + date.getFullYear() + '-' + (date.getMonth() + 1) + '-' + date.getDate() + " " + date.getHours() + ":" + date.getMinutes() + ":" + date.getSeconds() + "]"
                        + "\r\n";
                }
                if (result.length > 0)
                    $("#myModalData")[0].innerHTML = result;
                else{
                    $("#myModalLabel")[0].innerHTML = "串口" + name + "无数据";
                    $("#myModalData")[0].innerHTML = "";
                }
            }
        }

    }

    function applyFilter(){
        var portName = $("#filter-select").val();
        var checked = $("#checkbox-filter")[0].checked;
        
        document.getElementById("data1").contentWindow.applyFilter(portName, checked);
        document.getElementById("data2").contentWindow.applyFilter(portName, checked);
        document.getElementById("data3").contentWindow.applyFilter(portName, checked);
        document.getElementById("data4").contentWindow.applyFilter(portName, checked);
    }

    function setCom(dataList, btn, opened){
        for (var i = 0; i < dataList.length; i++){
            if (dataList[i].name == btn.value){
                dataList[i].opened = opened;
                break;
            }
        }
        getMsg(dataList);
    }

    function onLoadFrame(number, dataList){
        var list = $("button.btn-danger");
        if (list.length > 0)
            getMsg(dataList);
    }

    function checkOpenList(dataList){
        $.ajax({url: 'http://' + window.location.host + "/json",
            data: {func: "checkOpen"},
            success: function(result){
                if (result.flag == false)
                    return;
                var buttonList = $("button.com");
                var hasOpened = false;
                for (var j = 0; j < buttonList.length; j ++){
                    var button = buttonList[j];
                    for (var i = 0; i < result.openList.length; i++){
                        if (button.value == result.openList[i]){
                            $(button).removeClass('btn-success').addClass('btn-danger');
                            button.innerHTML = "关闭" + button.value;
                            hasOpened = true;
                        }
                    }
                }
                for (var i = 0; i < result.occupy.length; i++){
                    $(".top")[0].innerHTML += "<button class='btn btn-default' disabled=true>" + result.occupy[i] + "被占用</button>"
                }
                $('#data1').load(function(){
                    onLoadFrame(1, dataList);
                });
                $('#data2').load(function(){
                    onLoadFrame(2, dataList);
                });
                $('#data3').load(function(){
                    onLoadFrame(3, dataList);
                });
                $('#data4').load(function(){
                    onLoadFrame(4, dataList);
                });
                $("button.com").on('click', function(){
                    var btn = $(this)[0]
                    if ($(btn).hasClass('btn-success')){
                        $.ajax({url: 'http://' + window.location.host + "/json",
                            data: {func: "open", name:btn.value},
                            success: function(result){
                                if (result.flag == false){
                                    alert("打开失败");
                                    return;
                                }
                                btn.innerHTML = "关闭" + btn.value;
                                $(btn).removeClass('btn-success').addClass('btn-danger');
                                setCom(dataList, btn, true);
                            }
                        });
                    }
                    else if ($(btn).hasClass('btn-danger')){
                        $.ajax({url: 'http://' + window.location.host + "/json",
                            data: {func:"close", name:btn.value},
                            success: function(result){
                                if (result.flag == false){
                                    alert("关闭失败");
                                    return;
                                }
                                btn.innerHTML = "打开" + btn.value;
                                $(btn).removeClass('btn-danger').addClass('btn-success');
                                setCom(dataList, btn, false);
                            }
                        });
                    }
                });
                $("button.download").on('click', function(){
                    var button = $(this)[0];
                    getDataDown(button, dataList);
                    $('#myModal').modal();
                });
                $("#checkbox-filter").on('change', function(){
                    applyFilter();
                });
                $("#filter-select").on("change", function(){
                    applyFilter();
                });
            }
        });
    }

    function getMsg(dataList){
        var openedList = [];
        for (var i = 0; i < dataList.length; i++){
            if (dataList[i].opened)
                openedList.push(dataList[i].name);
        }
        if (openedList.length == 0){
            clearInterval(timer);
            timer = null;
            return;
        }
        if (timer != null)
            return;
        timer = setInterval(function(){
            var opened = [];
            for (var i = 0; i < dataList.length; i++){
                if (dataList[i].opened)
                    opened.push(dataList[i].name);
            }
            $.ajax({url: 'http://' + window.location.host + "/json",
                data: {func: "read", name:opened.join(",")},
                success: function(result){
                    if (result.flag == false){
                        alert("读取失败");
                        return;
                    }
                    if (result.msg.length == 0)
                        return;
                    for (var i = 0; i < result.msg.length; i++){
                        var msg = result.msg[i];
                        var comName = msg.substring(0, msg.indexOf(":"))
                        for (var j = 0; j < dataList.length; j++){
                            if (dataList[j].name == comName){
                                var data = getData(dataList[j].data, msg.substring(msg.indexOf(":") + 1));
                                dataList[j].data.push(data);
                                break;
                            }
                        }
                    }
                    document.getElementById("data1").contentWindow.updateChart(dataList);
                    document.getElementById("data2").contentWindow.updateChart(dataList);
                    document.getElementById("data3").contentWindow.updateChart(dataList);
                    document.getElementById("data4").contentWindow.updateChart(dataList);
                }
            })
        }, 1000);
    }       

    var timer = null;
    $(document).ready(function(){
        var dataList = [];
        var comList = {
        {% for item in list %} {% for port, open in item.items %}
        '{{port}}':'{{open}}',
        {% endfor %} {% endfor %} 
        };
        for (var i = 0; i < Object.keys(comList).length; i++){
            dataList.push({'name': Object.keys(comList)[i], 'opened': (Object.values(comList)[i] == "True"), 'data':[]});
        }
        $('#myModal').on('show.bs.modal', function () {
            $('.modal .modal-body').css('overflow-y', 'auto'); 
            $('.modal .modal-body').css('height', $(window).height() * 0.7);
        });
        $("button.data-process").click(function(){
            $("#myModalLabel")[0].innerHTML = "数据处理";
            $("#processButton").show();
            $("#div-checkbox").show();
            $("#myModal").modal();
        });
        $("#myModal").on("hidden.bs.modal", function () {
            $("#processButton").hide();
            $("#div-checkbox").hide();
        });
        $("#processButton").click(function(){
            var text = $("#myModalData").val();
            var lines = text.split('\n');
            var afterProcess = "";
            var count = 0;
            for (var i = 0; i < lines.length; i++){
                if (lines[i].length == 0)
                    continue;
                if ($("#checkboxData")[0].checked){
                    var head = $("#checkboxInput").val();
                    if (!lines[i].startsWith(head))
                        continue;
                }
                count++;
                var patt = /^[0-9_]+\s+([0-9-.]+)\s+([0-9-.]+)\s+([0-9-.]+)\[(\d+)-(\d+)-(\d+)\s(\d+):(\d+):([0-9.]+)\]$/; 
                var result = patt.exec(lines[i]);
                var s = "";
                for (var j = 1; j < result.length; j++){
                    s += result[j] + ',';
                }
                afterProcess += s + "\r\n";
            }
            $("#dataCount")[0].innerHTML = "共" + count + "条数据";
            $("#myModalData").val(afterProcess);
        });
        checkOpenList(dataList);
        $("button.btn-look-data").click(function(){
            var number = $(this)[0].parentNode.className.substring(4);
            var title = ['T', 'V1', 'V2', 'V3'];
            var data = JSON.stringify(dataList);
            window.open("http://" + window.location.host + "/chart#" + number + "?data=" + data, title[parseInt(number)]);
        });
    });
    </script>
</head>
<body>
    <div class="top">
        {% for item in list %} {% for port, open in item.items %}
        <button class="com btn btn-success" value="{{port}}">打开{{port}}</button>
        {% endfor %} {% endfor %} 
        {% for item in list %} {% for port, open in item.items %}
        <button class="download btn btn-primary" value="{{port}}">下载{{port}}数据</button>
        {% endfor %} {% endfor %}
        <label>
            <input type="checkbox" value="" id="checkbox-filter">
            过滤 
        </label>
        <select id="filter-select">
        {% for item in list %} {% for port, open in item.items %}
            <option>{{port}}</option>
        {% endfor %} {% endfor %}
        </select>
    </div>
    <div class="filter">
    </div>
    <div class="process">
        <button class="data-process btn btn-primary">数据处理</button>
    </div>
    <!-- 为 ECharts 准备一个具备大小（宽高）的 DOM -->
    <div class="chart" id="main">
        <div class="data1">
            <iframe src="/chart#1" id="data1"></iframe>
            <button class="btn btn-success btn-look-data">查看大图</button>
        </div>
        <div class="data2">
            <iframe src="/chart#2" id="data2"></iframe>
            <button class="btn btn-success btn-look-data">查看大图</button>
        </div>
        <div class="data3">
            <iframe src="/chart#3" id="data3"></iframe>
            <button class="btn btn-success btn-look-data">查看大图</button>
        </div>
        <div class="data4">
            <iframe src="/chart#4" id="data4"></iframe>
            <button class="btn btn-success btn-look-data">查看大图</button>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel"></h4>
                </div>
                <div class="modal-body" id="myModalBody">
                    <textarea class="myModalData" id="myModalData"></textarea>
                </div>
                <div style="display: none" id="div-checkbox">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" id="checkboxData">筛选数据头
                        </label>
                        <input type="text" id="checkboxInput">
                    </div>
                    <h4 id="dataCount"></h4>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" style="display:none" id="processButton">处理</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>