<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta charset="utf-8">
    <title>串口数据显示</title>
    <!-- 引入 ECharts 文件 -->
    <link rel="stylesheet" type="text/css" href="{% static 'webChart/bootstrap.min.css' %}" /> 
    <script type="text/javascript" src="{% static 'webChart/jquery-2.2.4.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'webChart/bootstrap.min.js' %}"></script>
    <script src="{% static 'webChart/echarts.min.js' %}"></script>
    <style type="text/css">
    div.top {
        position: absolute;
        left: 30px;
        right: 30px;
        top: 10px;
        height: 60px;
        padding-left: 30px;
        padding-top: 10px;
    }
    div.chart {
        position: absolute;
        left: 10px;
        right: 10px;
        bottom: 30px;
        top: 60px;
        width: 90%;
    }
    html, body{
        height: 100%;
        width: 100%;
    }
    .myModalData {
        height: 100%;
        width: 100%;
    }
    div.process {
        position: absolute;
        right: 10px;
        top: 10px;
    }
    </style>
    <script type="text/javascript">
    function getData(msg) {
        var date = new Date(msg.substring(msg.indexOf('[') + 1, msg.indexOf(']')));
        var value = msg.substring(msg.indexOf(']') + 1);
        var patt = /^([0-9_]+)\s+([0-9-.]+)/; 
        var result = patt.exec(value);
        var chanel = result[1];
        return {chanel:chanel, data:{name: date.toString(), value: [date, result[2]]}}
    }

    function getDataOption(dataList){
        var data = [];
        var legend = [];
        for (var i = 0; i < dataList.length; i++){
            var chanelList = [];
            for (var j = 0; j < dataList[i].data.length; j++){
                var chanel = -1;
                for (var k = 0; k < chanelList.length; k++){
                    if (chanelList[k].chanel == dataList[i].data[j].chanel){
                        chanel = k;
                        break;
                    }
                }
                if (chanel == -1){
                    chanel = chanelList.length;
                    chanelList.push({chanel: dataList[i].data[j].chanel, data:[]});
                }
                chanelList[chanel].data.push(dataList[i].data[j].data);
            }
            for (var j = 0; j < chanelList.length; j++){
                var name = "串口:" + dataList[i].name + ' 通道:' + chanelList[j].chanel;
                data.push({
                    data: chanelList[j].data,
                    name: name,
                    type: 'line',
                    showSymbol: false,
                });
                legend.push(name);
            }
        }
        return {data:data, legend:legend};
    }

    function setOption(dataList){
        var legend = [];
        option = {
            title: {
                text: '串口数据图'
            },
            tooltip: {
                trigger: 'axis',
                axisPointer: {
                    type: 'cross'
                }
            },
            xAxis: {
                type: 'time',
                splitLine: {
                    show: false
                },
            },
            yAxis: {
                type: 'value',
                boundaryGap: [0, '30%'],
            },
            dataZoom: [
                {
                    show: true,
                    realtime: true,
                    start: 0,
                    end: 100
                },
            ],
            toolbox: {
                feature: {
                    dataZoom: {
                        yAxisIndex: 'none'
                    },
                    restore: {},
                    saveAsImage: {}
                }
            },
        };

        return option;
    }

    function drawChart(dataList){
        // 基于准备好的dom，初始化echarts实例
        var myChart = echarts.init(document.getElementById('main'));

        // 指定图表的配置项和数据
        var option = setOption(dataList);

        // 使用刚指定的配置项和数据显示图表。
        myChart.setOption(option);
        return myChart;
    }

    function getMsg(chart, button, dataList){
        setInterval(function(){
            $.ajax({url: 'http://' + window.location.host + "/json",
                data: {func: "read", name:button.value},
                success: function(result){
                    if (result.flag == false){
                        alert("读取失败");
                        return;
                    }
                    if (result.msg.length == 0)
                        return;
                    var data = getData(result.msg);
                    for (var i = 0; i < dataList.length; i++){
                        if (dataList[i].name == button.value){
                            dataList[i].data.push(data);
                        }
                    }
                    var option = getDataOption(dataList);
                    chart.setOption({
                        series: option.data,
                        legend: {
                            data: option.legend
                        },
                    });
                }
            })
        }, 1000);
    }

    function getDataDown(button, dataList){
        var name = button.value;
        $("#myModalLabel")[0].innerHTML = "串口" + name + "数据";
        for (var i = 0; i < dataList.length; i++){
            if (dataList[i].name == name){
                var result = "";
                for (var j = 0; j < dataList[i].data.length; j++){
                    var date = dataList[i].data[j].value[0];
                    result += "[" + date.getFullYear() + '-' + (date.getMonth() + 1) + '-' + date.getDate() + " " + date.getHours() + ":" + date.getMinutes() + ":" + date.getSeconds() + "]"
                        + dataList[i].data[j].value[1] + "\r\n";
                }
                if (result.length > 0)
                    $("#myModalData")[0].innerHTML = result;
                else{
                    $("#myModalLabel")[0].innerHTML = "串口" + name + "无数据";
                    $("#myModalData")[0].innerHTML = "";
                }
            }
        }

    }

    function checkOpenList(chart, dataList){
        $.ajax({url: 'http://' + window.location.host + "/json",
            data: {func: "checkOpen", name: ""},
            success: function(result){
                if (result.flag == false)
                    return;
                var buttonList = $("button.com");
                for (var j = 0; j < buttonList.length; j ++){
                    var button = buttonList[j];
                    for (var i = 0; i < result.openList.length; i++){
                        if (button.value == result.openList[i]){
                            $(button).removeClass('btn-success').addClass('btn-danger');
                            button.innerHTML = "关闭" + button.value;
                        }
                    }
                }
                for (var i = 0; i < result.occupy.length; i++){
                    $(".top")[0].innerHTML += "<button class='btn btn-default' disabled=true>" + result.occupy[i] + "被占用</button>"
                }
                $("button.com").on('click', function(){
                    var btn = $(this)[0]
                    if ($(btn).hasClass('btn-success')){
                        $.ajax({url: 'http://' + window.location.host + "/json",
                            data: {func: "open", name:btn.value},
                            success: function(result){
                                if (result.flag == false){
                                    alert("打开失败");
                                    return;
                                }
                                btn.innerHTML = "关闭" + btn.value;
                                $(btn).removeClass('btn-success').addClass('btn-danger');
                                getMsg(chart, btn, dataList);
                            }
                        });
                    }
                    else if ($(btn).hasClass('btn-danger')){
                        $.ajax({url: 'http://' + window.location.host + "/json",
                            data: {func:"close", name:btn.value},
                            success: function(result){
                                if (result.flag == false){
                                    alert("关闭失败");
                                    return;
                                }
                                btn.innerHTML = "打开" + btn.value;
                                $(btn).removeClass('btn-danger').addClass('btn-success');
                            }
                        });
                    }
                });
                $("button.download").on('click', function(){
                    var button = $(this)[0];
                    getDataDown(button, dataList);
                    $('#myModal').modal();
                });
                checkOpenedCom(chart, dataList);
            }
        });
    }

    function checkOpenedCom(chart, dataList){
        var openList = $("button").filter(".com.btn-danger");
        for (var i = 0; i < openList.length; i++){
            getMsg(chart, openList[i], dataList);
        }
    }

    $(document).ready(function(){
        var dataList = [];
        for (var i = 0; i < $("button.com").length; i++){
            dataList.push({'name': $("button.com")[i].value, 'data':[]});
        }
        var chart = drawChart(dataList);
        checkOpenList(chart, dataList);
        $('#myModal').on('show.bs.modal', function () {
            $('.modal .modal-body').css('overflow-y', 'auto'); 
            $('.modal .modal-body').css('height', $(window).height() * 0.7);
        });
        $("button.data-process").click(function(){
            $("#myModalLabel")[0].innerHTML = "数据处理";
            $("#processButton").show();
            $("#div-checkbox").show();
            $("#myModal").modal();
        });
        $("#myModal").on("hidden.bs.modal", function () {
            $("#processButton").hide();
            $("#div-checkbox").hide();
        });
        $("#processButton").click(function(){
            var text = $("#myModalData").val();
            var lines = text.split('\n');
            var afterProcess = "";
            var count = 0;
            for (var i = 0; i < lines.length; i++){
                if (lines[i].length == 0)
                    continue;
                if ($("#checkboxData")[0].checked){
                    var head = $("#checkboxInput").val();
                    if (!lines[i].startsWith(head))
                        continue;
                }
                count++;
                var patt = /^(\d)__(\d)\s+([0-9-.]+)\[(\d+)-(\d+)-(\d+)\s(\d+):(\d+):([0-9.]+)\]$/; 
                var result = patt.exec(lines[i]);
                var s = "";
                for (var j = 1; j < result.length; j++){
                    s += result[j] + ',';
                }
                afterProcess += s + "\r\n";
            }
            $("#dataCount")[0].innerHTML = "共" + count + "条数据";
            $("#myModalData").val(afterProcess);
        });
    });
    </script>
</head>
<body>
    <div class="top">
        {% for item in list %} {% for port, open in item.items %}
        <button class="com btn btn-success" value="{{port}}">打开{{port}}</button>
        {% endfor %} {% endfor %} {% for item in list %} {% for port, open in item.items %}
        <button class="download btn btn-primary" value="{{port}}">下载{{port}}数据</button>
        {% endfor %} {% endfor %}
    </div>
    <div class="process">
        <button class="data-process btn btn-primary">数据处理</button>
    </div>
    <!-- 为 ECharts 准备一个具备大小（宽高）的 DOM -->
    <div class="chart" id="main"></div>
    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel"></h4>
                </div>
                <div class="modal-body" id="myModalBody">
                    <textarea class="myModalData" id="myModalData"></textarea>
                </div>
                <div style="display: none" id="div-checkbox">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" id="checkboxData">筛选数据头
                        </label>
                        <input type="text" id="checkboxInput">
                    </div>
                    <h4 id="dataCount"></h4>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" style="display:none" id="processButton">处理</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>