<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta charset="utf-8">
    <title>串口数据显示</title>
    <!-- 引入 ECharts 文件 -->
    <link rel="stylesheet" type="text/css" href="{% static 'webChart/bootstrap.min.css' %}" /> 
    <link rel="stylesheet" type="text/css" href="{% static 'webChart/webSerial.css' %}" /> 
    <script type="text/javascript" src="{% static 'webChart/jquery-2.2.4.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'webChart/bootstrap.min.js' %}"></script>
    <script src="{% static 'webChart/echarts.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'webChart/webSerial.js' %}"></script>
    <style type="text/css">
    div.chart {
        position: absolute;
        left: 10px;
        right: 10px;
        bottom: 30px;
        top: 60px;
        width: 90%;
    }
    div.y-range {
        position: absolute;
        top: 30%;
        right: 20px;
        width: 120px;
        z-index: 999;
    }
    div.data1 {
        position: absolute;
        height: 100%;
        width: 100%;
    }
    </style>
    <script type="text/javascript">
    function onGetData(dataList, msg, dataListAll) {
        /*
          dataList: 上一次的数据
          msg: 本次要处理的数据
          dataListAll: 所有数据
        */
        //数据格式：1_1 T1[日期]
        var patt = /^([0-9_]+)\s+([0-9-.]+)\[([0-9- :.]+)\]/; 
        var result = patt.exec(msg);
        if (result == null)
            return null;
        var date = new Date(result[3]);
        var chanel = result[1];
        if (chanel == "1_1") {
            var chanel1 = "1_1";
            var chanel2 = "1_2";
            var chanel3 = "1_3";
        } else {
            var chanel1 = "2_1";
            var chanel2 = "2_2";
            var chanel3 = "2_3";
        }
            
        var T1 = parseFloat(result[2]);
        
        var final = [];
        final.push({chanel:chanel1, data:[
            {name: date.toString(), value: [date, T1]}
        ]});
        return final;
    }
    
    function updateChart(dataList){
        var yMax = null;
        var yMin = null;
        if ($("#yMin").val().length > 0)
            yMin = parseFloat($("#yMin").val());
        if ($("#yMax").val().length > 0)
            yMax = parseFloat($("#yMax").val());
        document.getElementById("data1").contentWindow.updateChart(dataList, yMin, yMax);
    }

    function setChartTitle(onFrameLoad){
        document.getElementById("data1").onload = function() {
            var legends = ['T1'];
            this.contentWindow.initChart("T", legends);
            onFrameLoad();
        };
    }

    $(document).ready(function(){
        var dataList = [];
        var comList = [
            {% for item in list %} {% for port, open in item.items %}
                {name:'{{port}}', value:'{{open}}'},
            {% endfor %} {% endfor %} 
        ];
        for (var i = 0; i < comList.length; i++){
            dataList.push({name: comList[i].name, opened: comList[i].value == "True", data:[]});
        }
        $("button.data-process").click(function(){
            $("#myModalLabel")[0].innerHTML = "数据处理";
            $("#processButton").show();
            $("#div-checkbox").show();
            $("#myModal").modal();
        });
        setChartTitle(function(){
            getSerialData(dataList, updateChart, onGetData);
        });

        function downloadFormat(data){
            var result = "";
            for (var i = 0; i < dataList.length; i++){
                if (dataList[i].name != portName)
                    continue;
                for (var j = 0; j < dataList[i].data.length; j++){
                    var data = dataList[i].data[j];
                    var chanel = data.chanel;
                    var date = data.data[0].value[0];
                    // 转存数据格式：1_1 T1
                    result += chanel + "  " + data.data[0].value[1]
                        + "[" + date.getFullYear() + '-' + (date.getMonth() + 1) + '-' + date.getDate() + " " 
                        + date.getHours() + ":" + date.getMinutes() + ":" + date.getSeconds() + "]" + "\r\n";
                }
            }
            return result;
        }
        checkPortList(updateChart, downloadFormat, getData);
        $("#checkbox-filter").on('change', function(){
            applyFilter($("iframe[id^='data']"));
        });
        $("#filter-select").on("change", function(){
            applyFilter($("iframe[id^='data']"));
        });
        $("button.btn-look-data").click(function(){
            var number = $(this)[0].parentNode.className.substring(4);
            var title = ['T', 'V1', 'V2', 'V3'];
            var data = JSON.stringify(dataList);
            window.open("http://" + window.location.host + "/chart#" + number + "?data=" + data, title[parseInt(number)]);
        });
    });
    </script>
</head>
<body>
    <div class="top">
        {% for item in list %} {% for port, open in item.items %}
        <button class="com btn btn-success" value="{{port}}">打开{{port}}</button>
        {% endfor %} {% endfor %} 
        {% for item in list %} {% for port, open in item.items %}
        <button class="download btn btn-primary" value="{{port}}">下载{{port}}数据</button>
        {% endfor %} {% endfor %}
        <label>
            <input type="checkbox" value="" id="checkbox-filter">
            过滤 
        </label>
        <select id="filter-select">
        {% for item in list %} {% for port, open in item.items %}
            <option>{{port}}</option>
        {% endfor %} {% endfor %}
        </select>
    </div>
    <div class="y-range">
        <input class="form-control" placeholder="max value" id="yMax" style="font-size:20px">
        <p></p>
        <input class="form-control" placeholder="min value" id="yMin" style="font-size: 20px">
    </div>
    <div class="process">
        <a href="/" class="data-process btn btn-success">返回首页</a>
    </div>
    <!-- 为 ECharts 准备一个具备大小（宽高）的 DOM -->
    <div class="chart" id="main">
        <div class="data1">
            <iframe src="/chart#1" id="data1"></iframe>
        </div>
    </div>
    <mymodal></mymodal>
    <script type="text/javascript">
        $("mymodal").load("{% static 'webChart/modal.html' %}");
    </script>
</body>
</html>